.Header {
  background: var(--color-component-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid var(--color-component-background-darken);
  color: var(--color-text-subdued);
  &__icon {
    width: 1.5rem;
  }
}
