.LoginRoute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.Chair {
  max-width: 40vw;
  max-height: 500px;
}